
h{
       font-size:70px;
        color:blue;
}
      p{
        text-align=center;
         font-weight=bold;
         color:black;
} 
      h2{
         font-size:70px;
         color:blue;
 }
    ul{
       font-weight:bold;
       }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


header {
    background-color: #2c7be5;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #1e5bb8;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    background-color: #d9e9ff;
    text-align: center;
    padding: 40px;
}

.banner button {
    padding: 10px 20px;
    background-color: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.banner button:hover {
    background-color: #1e5bb8;
}

.products {
    padding: 30px;
    text-align: center;
}

.product-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

